fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
}

label {
  display: none;
}

.m-images {
  padding-left: 0px;
  list-style-type: none;

  .headings {
    display: none;
  }

  .image .date, .image .size {
    display: none;
  }
}



@media (min-width: 500px) {
  .m-images {
    display: table;
    min-width: 200px;
    max-width: 500px;

    .headings {
      font-weight: bold;
    }

    .headings, .image {
      display: table-row;
    }

    .headings .image-metadata, .image .image-metadata {
      display: table-cell;
      padding-right: 20px;
    }

    .headings .image-metadata.numeric, .image .image-metadata.numeric {
      text-align: right;
    }

    .headings a.image-metadata, .image a.image-metadata {
      display: inline;
    }

    .headings.is-hidden, .image.is-hidden {
      display: none;
    }
  }

}

.isnt-js .m-actions {
  display: none;
}

.is-hidden {
  display: none;
}


